<!DOCTYPE html>
<html lang="en" ng-app="Myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
   
</head>
<body>
    <div>
        <div  ng-controller="ctl">
       <table>
        <th>
            <tr>
                <td>Name</td>
                <td>Phone</td>
            </tr>
        </th>
        <tr ng-repeat="row in rows">
            <td ng-repeat="cell in row">{{ cell }}</td>
        </tr>
       </table>
    </div>
    </div>
</body>
<script>
    angular.module("Myapp",[]).controller('ctl',['$scope',function($scope){
        $scope.rows = [['sujyot',400],['sarthak',200],['ayush',300]];
        
    }])
</script>
</html>